*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

:root{
    --color-white:#fff;
    --color-black: #000;
    --color-danger: #f75842;
    --color-bg2:#2e3267;
    --main-color:yellow;
    --main-padding: 100px;
    --main-transition:0.3s;
    --section-background: #ececec;
    --container-width-lg: 76%;
    --container-width-md: 90%;
    --container-width-sm: 94%;


    --container-width-lg:80%;
    --container-width-md:90%;
    --container-width-lg:94%;



    --transition: all 400ms ease;
}
body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}
.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}

a{
    color: var(--color-white);
}
.btn {
    display: inline-block;
    background-color: var(--color-white);
    color: var(--color-black);
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: var(--transition);
}
.btn{
    background-color: transparent;
    color: var(--color-white);
   
}


/*==========================NAVBAR============================*/
nav{
    background: rgb(1,1,15);
    width: 100vw;
    height: 6rem;
    position: fixed;
    top: 0;
    z-index: 11;
}
nav button{
    display: none;
}
/* change navbar style on scroll using javascript */
.window.scroll{
    background: var(--color-main);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}
.nav_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.nav_menu a{
    font-size: 1.5rem;
    font-weight: bold;
    transition: var(--transition);
}
.nav_menu a:hover{
    color: var(--main-color);
}

nav img{
    width: 100px;
    height: 80px;
    padding: 10px;
    border-radius:1.5rem;
}
/*===================End OF NavBar=========================*/
/*=====================Start Section ========================*/
.main{
    height: 100vh;
    position: relative;
}
.main video{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
/* Start testimonials */
.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--section-background);
    position: relative;
}
.main-title {
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);

}
.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;

}
.main-title::after {
    right: -30px;
    
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: white;
    border: 1px solid white;
    transition-delay: 0.5s;
}
/*Start animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;

    }
    100% {
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;

    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 12px;
    }
    100% {
        right: 0;
        width: 50%;
        border-radius: 0;
        height: 100%;
    }
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgb(0 0 0 / 6%);
    border-radius: 6px;
    position: relative;
}
.testimonials .box img {
    position: absolute;
    left: -10px;
    top: -50px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 10px solid var(--section-background);
    max-width: 100%;
}
.testimonials .box h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}
.testimonials .box .title {
    color: #777;
    margin-bottom: 12px;
    display: block;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box p {
    line-height: 1.5;
    color: #777;
    margin-top: 10px;
    margin-bottom: 0;
}
/*End testimonials */
/*=============Satrt Footer ==============*/
footer{
    background-color: var(--color-black);
    padding: 70px 0 0;
    color: wheat;
}
footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
footer .box h3{
    color: var(--main-color);
    font-weight: bold;
    font-size: 35px;
    border-bottom: 1px solid var(--main-color);
    text-align: center;
    width: 200px;
    border-radius: 20px;
}
footer .box .social{
    display: flex; 
}

footer .box .social li {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px ;

}
footer .box .social li a{
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
footer .box .social .facebook:hover {
    background-color: #1877f2;
}
footer .box .social .twitter:hover {
    background-color: #1da1f2;
}
footer .box .social .youtube:hover {
    background-color: #ff0000;
}
footer .box p{
    line-height: 2;
    color: #b9b9b9;
}
footer .box .links li{
    width: 250px;
    text-align: center;
    padding: 10px 0;
    transition: var(--main-transition); 
    border-bottom: 1px solid var(--main-color);
    border-radius: 40px;
}
footer .box .links li:hover {
    padding-left: 15px;
}
footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
}
footer .box .links li a:hover{
    color: white;
}
footer .box .links li a::after{
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}
footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    footer .box .line {
        display: flex;
        flex-direction: column;
        
    }
}
footer .box .line i{
    font-size: 30px;
    color: var(--main-color);
    margin-left: 15px;
    
}
@media (max-width: 767px) {
    footer .box .line i {
        margin-bottom: 15px;
        
    }
}
footer .box .line .info {
    line-height: 1.7;
    flex: 1;
}
footer .box .line .info span {
    display: block;
    color: var(--main-color);
}
footer .box .line .info span:hover{
    letter-spacing: 0.2rem;
    transition: 1s ease;
}



footer .footer-gallery img {
    width: 78px;
    height: 78px;
    border: 3px solid white;
    margin: 2px;
}
/*=============End Footer ================*/






/*===============Media Queries (Tablets) ===========*/

@media screen and (max-width:1024px){
    .container{
        width: var(--container-width-md);
    }
    /*===================NAVBAR====================*/
    nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-white);
        cursor: pointer;
    }
    nav button#close-menu-btn {
        display: none;
    }
    .nav_menu{
        position: fixed;
        top: 5rem;
        right: 5%;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        display: none;
    }
    .nav_menu li{
        width: 100%;
        height: 5.8rem;
        animation: animatenavitems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
    }
    .nav_menu li:nth-child(2){
        animation-delay: 1s;
    }
    .nav_menu li:nth-child(3){
        animation-delay: 1.5s;
    }
    .nav_menu li:nth-child(4){
        animation-delay: 2s;
    }
    .nav_menu li:nth-child(5){
        animation-delay: 2.5s;
    }
    .nav_menu li:nth-child(6){
        animation-delay: 3s;
    }
    @keyframes animatenavitems {
        0%{
            transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
        }
        100%{
            transform: rotateZ(0) rotateX(0) scale(1);
            opacity: 1;

        }
    }
    .nav_menu li a{
        background: var(--main-color);
        box-shadow: -4rem 6rem 10rem rgba(0 ,0 ,0,0.6);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }
    .nav_menu li a:hover{
        background-color: var(--color-black);
        color: var(--color-white);
    }

}
/*====================Media queries (phone)=============*/
@media screen and (max-width:600px){
    .container{
        width: var(--container-width-sm);
        
    }
    
    /*===================navbar==================*/
    .nav_menu{
        right: 3%;
    }
    .nav_menu li a{
        background-color: var(--main-color);
    }
    .container .box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
    }

    .container .footer-gallery{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        gap: 20px;
    }
    .container .footer-gallery img{
        width: 300px;
        height: 300px;
        border: 1px solid var(--main-color);
        border-radius: 10%;
        
    }
}